@media only screen and (max-width:400px)
{
    #content
    {
        margin-top:70px;
        margin-bottom:100px;
        margin-left:5%;
        margin-right:5%;
        width:90%;
    }

    #para
    {
        margin-top:60px;
        margin-bottom:30px;
        font-size:x-large;
    }

    #gallerys
    {
        margin-top:25px;
        margin-bottom:40px;
        margin-left:5px;
        font-size:small;
        width:230px;
    }

    .images
    {
        font-size:2em;
    }

    #image
    {
        font-size:3em;        
    }   
    #card
    {
        width:100%;
    }
    .text
    {
        font-size:3em; 
    }
    .containers img
    {
        width:100%;
        margin:0px;
    }
    #groups
    {
        font-size:2em;
    }
    #gallery-heading
    {
        font-size:2.3em;
        font-weight: normal;
    }
    .card-outer-container
    {
        width:100%;
        
    }
    .status-container
    {
       flex-wrap: wrap;
    }
    #sentence
    {
        font-size:3em;
    }
    h3
    {
       font-size:20px;
       width:70%;
    }
    #User
    {
        font-size:2em;
        color:black;

    }
    .Comment
    {
      padding-left:10%;
      padding-right:10%;
    } 
    footer
    {
        text-align: center;
    }
}